!!!
%html
  %head
    %title Tweeter
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container-fluid
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            %a.brand{href: root_url} TweeterVU
            %ul.nav
              %li{class: page(:home) ? 'active' : ''}= link_to 'Home', root_path
              %li{class: page(:new_post) ? 'active' : ''}= link_to 'New Tweet', new_post_path
            %ul.nav.pull-right
              - if current_user
                %li
                  %p.navbar-text= 'Signed in as ' << current_user.name
                %li.divider-vertical
                %li= link_to 'Logout', logout_path
              - else
                %li= link_to "Signup", signup_path
                %li.divider-vertical
                %li= link_to "Log in", login_path
      .row-fluid
        .span2
          %ul.nav.nav-list
            %li.nav-header Header
            %li{class: page(:home) ? 'active' : ''}= link_to 'Home', root_path
            %li{class: page(:users) ? 'active' : ''}= link_to 'Users', users_path
        .span10
          - flash.each do |key, value|
            .alert{:class => 'alert-'<< key.to_s}= value
          = yield
