!!!
%html
  %head
    %title Tweeter
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container-fluid
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            %a.brand TweeterVU
            %ul.nav
              %li.active= link_to 'Home', root_url
              %li= link_to 'New Tweet', new_post_url
              %li= link_to 'Logout', logout_path
              %li.pull-right
                = current_user ? link_to('Signed in as: '<< current_user.name, root_url) : link_to("Log in", login_path)
      .row-fluid
        .span2
          %ul.nav.nav-list
            %li.nav-header Header
            %li.active
              %a Home
            %li= link_to 'Users', users_path
        .span10
          - flash.each do |key, value|
            .alert{:class => 'alert-'<< key.to_s}= value
          = yield
